<html>
    <head>
    link(rel='stylesheet', href='static/wallboard.css', type='text/css' )
    </head>
    <body>
        <a id="dl" href="#"><button>Click to Download Image</button></a>
        <div id="canvas_image"></div>
        <div class="wallboard" id="wb_capture">
        
        <div class="left_wb">

          //- LOGO BEGIN
          <div class="logo-block">
            <img src='#{logo}' />
          </div>
           //- LOGO END

          <div class="featured-image-block">
            <img src="#{featured_img}" />
          </div>


          <div class="content-block">
            <h2 style="color:#{primary_color}">Clinic Info</h2>
            <p>#{clinic_info} </p>
          </div>
        </div>
        <div class="right_wb">
          <div class="headline">
            <h1>#{doctor_name}</h1>
            <p>#{doctor_title}</p>
          </div>
          <div class="summary">
            <p>#{intro}</p>
          </div>
          <div class="details">
            <div>
              <h2>Specialty</h2>
              <p>#{doctor_specialty}</p>
            </div>

            <div>
              <h2>Education</h2>
              <p>#{doctor_education}</p>
            </div>
          </div>
        </div>
    
    </div>
    script(src='static/js/html2canvas.min.js')
    script(src='static/js/reimg.js')
    script(src='static/js/main.js')
    </body>
</html>